<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <!-- nav bar -->
    <ul class="nav justify-content-center">
      <li class="nav-item">
        <a class="nav-link active" th:href="@{/}">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>
    <!-- nav bar -->
    <h1>CHỈNH SỬA KẾ HOẠCH CHI TIÊU</h1>
    <!-- FORM -->
    <div class="container-fluid">
        <form th:action="@{/chapter/{id}(id=${chapter.chapter_id})} + '/edit'" th:object="${chapter}" method="post">
            <div class="form-group">
                <label for="formGroupExampleInput">Tiêu đề kế hoạch chi tiêu</label>
                <input name="chapter_name" type="text" class="form-control" id="formGroupExampleInput" th:field="*{chapter_name}">
            </div>
            <div class="form-group">
                <label for="formGroupExampleInput2">Cài đặt số tiền hiện có</label>
                <input name="total_in" type="text" class="form-control" id="formGroupExampleInput2" th:field="*{total_in}">
            </div>
            <div class="form-group">
                <label for="formGroupExampleInput2">Cài đặt số tiền đã chi</label>
                <input name="total_out" type="text" class="form-control" id="formGroupExampleInput2" th:field="*{total_out}">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
    <!-- FORM -->
  </body>
</html>
